.container {
  background-image: url("../images/hero.jpg");
  background-size: cover;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  text-align: center;
}
.hero-text {
  color: white;
  line-height: 1.5em !important;
}
