name: Adds all issues to project board

on:
  issues:
    types:
      - opened

jobs:
  add-new-issues-to-project-column:
    runs-on: ubuntu-latest
    steps:
    - name: add-new-issues-to-organization-based-project-column
      uses: docker://takanabe/github-actions-automate-projects:v0.0.1
      env:
        GITHUB_TOKEN: ${{ secrets.ACCESS_TOKEN }}
        GITHUB_PROJECT_URL: https://github.com/orgs/maaji-co-jp/projects/2
        GITHUB_PROJECT_COLUMN_NAME: Todo
