name: Release Action
on:
  push:
    branches:
      - test_main

jobs:
  CreatePullRequest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: main

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v6
        with:
          base: test_main
          commit-message: update authors
          title: Update AUTHORS
          body: Credit new contributors by updating AUTHORS
          branch: production-promotion
